#topDiv {
 height: 180px;
  width: 100%;
  background-color: #faf370;
  border: solid;
  text-align: center;
  position: fixed;

	
}
#endDiv {
	  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #9999ff;
  border: solid;
  color: black;
  text-align: center;
	
	
}